body {
    background-color: beige;
    border-style: double;
    padding: 70px;
}

a {
    color: #000000;
}

nav {
    text-align: center;
}

ion-icon {
    vertical-align: middle;
}

h2 {
    font-family: Times New Roman;
    text-align: center;
    font-style: italic;
}

.para {
    text-align: center;
}

.card {
    width: 260px;
    height: 260px;
    margin-left: 140px;
}

.card-text {
    text-align: center;
}

header {
    background-color: darksalmon;
}

.img-overide {
    padding: 25px;
}

.container {
    float: right;
    margin-top: 2px;
}


/*#about {
    margin-left: 0px;
}*/